html {
    scroll-behavior: smooth;
}

/* --- Navigation Bar --- */
.navigationPc {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 10px;
}

#logoPc {
    float: left;
}

.navigationPc li {
    float: right;
}

.navigationPc li a {
    display: block;
    color: white;
    text-align: right;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
}

.navigationPc li a:hover {
    background-color: #111111;
}

/*HOME PAGE*/
.welcomeHeadingPc {
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
    font-weight: 850;
    font-family: Arial, Helvetica, sans-serif;
}

.welcomeTextPc {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

/*ABOUT PAGE*/




.aboutHeadingPc{
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
    font-weight: 850;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutTextPc{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*NEWS  PAGE*/

.weekBtn{
    background-color: rgb(41, 41, 134);
    width: 500px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.articleBtn{
    background-color: rgb(41, 41, 134);
    width: 500px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    font-size: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.articleHeading{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    
}